body{
    background-image: url("../images/cloudy-day.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: right;
    color: orange;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}

.my-posts{
    padding-left: 20px;
    padding-bottom: 20px;
}

#img{
    height: 50px;
    width: 50px;
}

img{
    height: 200px;
    width: 350px;
}

p{
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}

#card{
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}
