body{
    background-image: url("../images/cloudy-day.png");
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    text-align: right;
    color: orange;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}

h2{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    color: orange;
}

#names{
    padding-left: 20px;
    list-style-type: none;
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    color: orange;
}

a{
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
    color: black;
}

.container{
    text-align: center;
}

#img{
    height: 75px;
    width: 75px;
}

#filterInput{
    font-family: 'Indie Flower', cursive;
    font-family: 'Lobster', cursive;
}


